<section class="container-fluid component-section w-100 mb-5">
    <div class="row  justify-content-center">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"> # </th>
                            <th scope="col"> Name </th>
                            <th scope="col"> Description </th>
                            <th scope="col"> Qty </th>
                            <th scope="col"> Unit price </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartData; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>{{ item.qty }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end" *ngIf="countCartProducts">
            <button type="button" class="btn btn-success" (click)="goCheckout($event)" > Checkout </button>
            <mat-divider></mat-divider>
        </div>
    </div>


</section>