<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
        <a class="nav-item nav-link active" role="button">Hello, {{ currentUserName }}</a>
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/product">Products</a>
        <a class="nav-item nav-link" routerLink="cart/cart-detail" > Cart ( {{ countCartItems }} ) </a>
        <a class="nav-item nav-link" routerLink="admin/product" *ngIf="currentRole == 'admin' "> Admin Products </a>
        <a class="nav-item nav-link" role="button" (click)="logout()">Logout</a>
    </div>
  </nav>
